# Data
data/
*.csv

# Secrets
.env
keys/
cosign.key
/tmp/

# Python
__pycache__/
*.pyc
*.egg-info/
.venv/

# Go
tmp/

# Node
node_modules/
dist/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db
